body{
    padding: 50pt;
}

form.form_tambah_buku{
    padding: 10pt 20pt;
    width: 50%;
    background-color: rgb(234, 234, 234);
    border-radius: 20pt;
    border-width: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.273);
}

.aksi {
    font-size: larger;
}

.aksi .batal *{
    padding: 5pt 20pt;
    color: tomato;
    text-decoration: none;
}

.aksi .batal *:hover{
    color: rgb(254, 144, 144);
}

.aksi button.simpan{
    padding: 5pt 20pt;
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: rgb(43, 195, 89);
    border-radius: 16pt;
    border: none;
}

.aksi button.simpan:hover{
    background-color: rgb(43, 195, 89, 0.5);
}
